.contact-me {
    display: flex;
    justify-content: end;
    align-items: end;
    flex-direction: column;
    flex-grow: 0;
    width: 100%;
}

@media (min-width: 768px) {
    .contact-me {
        flex-grow: 1;
    }
}