.chau-banner {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.chau-banner audio {
    width: 200px;
    height: 30px;
}

@media (min-width: 768px) {
    .chau-banner {
        margin-bottom: 0;
    }

    .chau-banner audio {
        width: auto;
        height: auto;
    }
}