.chau {
    filter: blur(0.5px); /* Applies a 5px Gaussian blur */
    border-radius: 200px;
}

.chau-banner {
    display: flex;
    justify-content: center;
}

.sixtyfour-chau {
  font-family: "Sixtyfour", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "BLED" 0,
    "SCAN" 0;
}